
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-11 container">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Option</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody *ngFor ="let e of etudiants">
                    <tr>
                      <td>{{e.id}}</td>
                      <td>{{e.nom}}</td>
                      <td>{{e.prenom}}</td>
                      <td> {{e.opt}}</td>
                     
                      <td class="col-3">
                        <button class="btn btn-danger">Supprimer</button>&nbsp;
                        <button class="btn btn-warning">Modifier</button>&nbsp;
                        <button class="btn btn-info">Voir plus</button>

                      </td>
                  
                    </tr>

                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->