
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-11 container">
          <!-- general form elements -->
          <div  class="card card-primary">
            {{dept|json}}
            <div style="background-color:#3498db;" class="card-header">
              <h3 class="card-title">Quick Example</h3>
            </div>
          
            <!-- /.card-header -->
            <!-- form start -->
            <form *ngIf="dept" (submit)="updateData()">
              <div class="card-body">
                <div class="form-group">
                  <label  for="exampleInputEmail1">Nom department</label>
                  <input [(ngModel)] = "dept.nomDepartment" name="nom" type="text" class="form-control"  placeholder="Nom">
                  <label  for="exampleInputEmail1">Chef Department</label>
                  <input [(ngModel)] = "dept.chefDepartment" name="chef" type="text" class="form-control"  placeholder="Chef department">
                  <label  for="exampleInputEmail1">Nombre des salles </label>
                  <input [(ngModel)] = "dept.nombreSalle" name="nb" type="text" class="form-control"  placeholder="Nombre des salle">
                </div>
              </div>
              <!-- /.card-body -->
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </div>
            </form>
          </div>


        
